header {
    background-image: url("../img/bg.png");
    margin: 0px;
    padding: 0px;
    height: 200px;
}


header div h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0px;
    padding: 20px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

header a{
    text-decoration: none;
}

header p{
    width: 100%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: white;
    font-size: 22px;
    margin-top: -100px;
}


.dropdownLink{
    width: 460px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -210px;
    margin-top: 25px;
}

#note {
    font-weight: 200;
}

.dropdownLink select, input{
    margin-bottom: 20px;
}

.dropdownLink div{
    float: left;
    width: 50%;
}

.dropdownLinkSmall label{
    display: none;
}

.dropdownLinkSmall{
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    padding-top: 20px;
    padding-bottom: 10px;
    opacity: 0.7;
    height: 60px;
}

.dropdownLinkSmall select, input{
    float: left;
}

.dropdownLinkSmall select{
        margin-right: 20px;
}

select, input{
        display: block;
        width: 210px;
        border: none;
          font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: white;
    background-color: #f9886b;
    height: 60px;

}

label{
        display: block;
     font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    color: #f9886b;
    padding-bottom: 20px;
}

select{
    padding-left: 10px;
    -webkit-appearance: none;
     background: url("../img/arrow.png") no-repeat right #f9886b ;
    border-radius: 0px;
}

select:hover{
    background-image: url("../img/arrowHover.png");
}


@-moz-document url-prefix() {

   select{
    padding-top: 4px;
    -webkit-appearance: none;
    background-image: none;
    }

}

input{
    padding: 0px;
    text-align: center;
    border: 3px solid #f9886b;
    background-color: white;
    color: #f9886b;
}

input:hover{
    background-color: #f9886b;
    color: white;
}

section{
    width: 1650px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: static;
    overflow: hidden;
}

@media all and (max-width: 1710px;) {
  section{
      width: 1710px;
  }
}


.embed{
	width: 530px;
	height: 298px;
	float: left;
    margin: 0px;
}

iframe {
	width: 530px !important; 
	height: 298px !important;
}


.vid{
    width: 530px;
    height: 298px;
    float: left;
    margin: 10px;
    background-size: cover;
     background-position: 0px -50px;
    background-repeat: none;
}

.vid div{
  overflow: hidden;
height: 298px;
width: 530px;
/*background-color: rgba(255, 255, 255, 0.32);
*/
}

.vid div:hover{
  background-color: rgba(255,255,255,0);
  cursor: pointer;
}

.vid div h3{
   position: absolute;
/*  text-align: center;
  width: 530px;*/
  color: black;
        font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
   /* margin-top: 130px;
   text-shadow:  1px 1px #000000,2px 2px #000000,3px 3px #000000,4px 4px #000000, 0px 0px 10px #000000;*/

padding: 10px;
background-color: rgba(255,255,255,0.8);
margin-left: 30px;
max-width: 450px;
}

.vid div:hover span{
  opacity: 1;
}

.vid div h3 span{

   color: black;
     text-align: center;
  width: 530px;
      font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
/*     text-shadow: 0px 0px 3px #000000;
   opacity: 0;
*/}

.loading{
    -webkit-animation: barberpole 0.5s linear infinite;
    -moz-animation: barberpole 0.5s linear infinite;
    -o-animation: barberpole 0.5s linear infinite;
    animation: barberpole 0.5s linear infinite;


    background-size: 30px 30px;
   background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)) !important;
}

@-webkit-keyframes barberpole {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 30px;
  }
}

@-moz-keyframes barberpole {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 30px;
  }
}

@-o-keyframes barberpole {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 30px;
  }
}

@keyframes barberpole {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 30px;
  }
}

 @media screen and (max-width: 1710px) {
   section{
    width: 1100px; 
   }
}

 @media screen and (max-width: 1110px) {
   section{
    width: 550px; 
   }

   header div p{
    display: none;
   }
}

footer {
  width: 100%;
    background-image: url("../img/bg.png");
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

footer div {
  width: 33%;
  float: left;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
  padding: 20px;
  color: white;

}

footer div h4{
      font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

footer div p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 10px;
}

footer div p span{
      font-style: italic;
      padding-right: 10px;

}

footer a {
  text-decoration: none;
  color: rgba(255,255,255,0.7);
}

footer a:hover{
    color: rgba(255,255,255,1);
}

.hidden{
  display: none;
}

@-moz-document url-prefix() {
    .css-select-moz select{
        width: 240px;
        background-position: 150px, 0px;
    }

    .css-select-moz{
      width: 210px;
      overflow: hidden;
      display: block;
    }

    select{
     background: url("../img/arrow.png") no-repeat #f9886b ;
     background-position: 150px, 0px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 

and (max-width : 510px) {

header{
  height: 120px;
}

header div h1 {
  font-size: 20px;
}

.dropdownLink div{
  float: none;
  margin-left: auto;
margin-right: auto;
width: 210px;
}

#note {
  display: none;
}

section{
  width: 300px;
}

.dropdownLink{
  width: 100%;
  height: auto;
  position: static;
  left: auto;
  top: auto;
  margin-left: 0px;
  margin-top: 50px;
}

footer{
  display: none;
}

.vid {
  width: 300px;
  height: 159px;
  background-size: 300px;
  background-position: 0px, -28px;

}

.vid div h3{
  font-size: 20px;
  margin-left: 0px;
  width: 280px;
}

.embed{
  width: 300px;
  height: 159px;
}


.embed iframe{
  width: 300px !important;
  height: 159px !important;
}

.loading{
    background-size: 30px 30px;
}

}

#twitter-widget-0{
  width: 100px !important;
  height: 28px !important;
}